body, html {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #fefefe;
	background-color: #1e1f26;
}

a {
	color: #fff;
	text-decoration: none;
}

.container {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 2em 4em 0 4em;
	max-width: 960px;
}

header {
	background-color: #0e0e14;
	border-bottom-width: 4px;
	border-bottom-style: dashed;
	border-color: #be9f72;

	.container {
		display: flex;
		
		> * {
			flex: 1 100%;
		}
	}
	
	.header-logo {
		padding: 1.5em;
	
		img {
			display: block;
			margin: 2em auto;
			width: 100%;
		}
	}
	
	.header-desc {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1.5em;

		h2 {
			font-size: 1.75em;
			line-height: 1.1em;
			margin: 0 0 1em 0;
		}
		
		strong {
			color: #be9f72;
			font-weight: 700;
		}

		.button {
			width: 120px;
			height: 30px;
			display: block;
			
			background-color: #107c10;
			border: 1px solid #ffffff;
			
			text-align: center;
			font-size: 15px;
			line-height: 30px;
			
			&:hover {
				background-color: #aaaaaa;
				opacity: 0.6;
			}
		}
	}
}

main {
	background-color: #1e1f26;
}

section {
	.section-title {
		display: inline-block;
		font-size: 3em;
		line-height: 1em;
		font-weight: 700;
		color: #be9f72;

		h1 {
			margin-bottom: 0.5rem;
			
			&:hover {
				cursor: default;
			}
		}
	}
	
	p {
		font-size: 1.33em;
		line-height: 1.25em;
		font-family: 'Merriweather', serif;
		margin: 0 0 1rem 0;
	}
}

.resources {
	ul {
		display: grid;
		margin-top: 0.5em;
		grid-template-columns: repeat(3, 1fr);
		gap: 1em 2em;
		
		.resource-link {
			//display: block;
			
			.resource-title {
				display: inline-block;
				margin: 0 0 0.5em 0;
				font-size: 1.75em;
				font-weight: 700;
				line-height: 1.1em;
				
				&:hover {
					text-decoration: underline;
				}
			}
			
			.resource-desc {
				p {
					font-size: 1.2em;
				}
			}
		}
	}
}

.roster {
	margin-bottom: 1em;
	
	.section-title {
		margin: 0 0 0.5em 0;
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		list-style: none;
		text-align: center;
		
		li {
			display: inline;
			width: 150px;
			padding: 0 0.5em;
			
			a {
				display: block;
				font-size: 1em;
			}
			
			img {
				display: block;
				width: 100%;
				margin: 0 auto 1em auto;
				border-radius: 100%;
			}
			
			p {
				font-size: 0.75em;
			}
		}
	}
}

// Tablets
@media all and (max-width: 800px) {
	.container {
		padding: 1.5em 3em 0 3em;
	}
	
	header {
		.container {
			flex-direction: column;
		}
	}
	
	.resources {
		ul {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

// Phones
@media all and (max-width: 600px) {
	.container {
		padding: 1em 2em 0 2em;
	}

	header {
		.container > * {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	.resources {
		ul {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}